.container {
    max-width: 100vw;
    min-height: 100vh;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    overflow: hidden;
}
.main-heading {
    font-size: 50px;
    transform: scale(2);
    color: #083e8f;
}
.ball1 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 20px solid;
    border: linear-gradient(315deg, #aecad6 0%, #b8d3fe 74%);
    border-radius: 50%;
    top: 200px;
    left: -100px;
    opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 1s;
    animation-name: jump;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 5;
}
.ball2 {
    position: fixed;
    width: 500px;
    height: 500px;
    right: 0;
    transform: translate3d(150px, -150px, 0);
    opacity: 0.5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    background-color: #7386f8;
    z-index: 0;
    /* overflow: scroll; */
}
.intro {
    flex: 0.6;
    margin: 0 5px;
    font-size: 29px;
    padding: 10px;
    text-align: justify;
    background-color: aliceblue;
    background: none;
    z-index: 1;
    box-shadow: rgba(94, 94, 145, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}
.container-box {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-box img {
    min-width: 200px;
    width: 40%;
    margin: 0 5px;
    height: 400px;
    min-height: 200px;
    z-index: 1;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}
.style-text {
    color: #0a3687;
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
}
.home1 {
    flex-direction: row-reverse;
}
.intro1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-width: 200px; */
    flex: 0.6;
    /* min-height: 300px; */
    margin: 0 5px;
    font-size: 29px;
    padding: 10px;
    text-align: justify;
    background-color: aliceblue;
    background: none;
    z-index: 1;
    box-shadow: rgba(94, 94, 145, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}
@media (max-width: 1000px) {
    .container-box {
        flex-direction: column;
    }
    .container-box img {
        width: 80vw;
        z-index: 50;
    }
}
